<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>317117560013-iejhlnt3b34g79maju6t5dpqee8fs6nd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.317117560013-iejhlnt3b34g79maju6t5dpqee8fs6nd</string>
	<key>API_KEY</key>
	<string>AIzaSyDyK8SIuh5P9zSrKMjjhSBxveg39oI3qeA</string>
	<key>GCM_SENDER_ID</key>
	<string>317117560013</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.testing.idpParkingApp</string>
	<key>PROJECT_ID</key>
	<string>idpparkingapp</string>
	<key>STORAGE_BUCKET</key>
	<string>idpparkingapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:317117560013:ios:333084350af15f6cd9e584</string>
	<key>DATABASE_URL</key>
	<string>https://idpparkingapp-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>